<% collection.forEach((editor) => { %>
<article id="<%= editor.name %>" class="editor-container">
  <div class="editor-information">
    <div class="editor-logo-container">
      <img class="editor-image" src="<%= editor.image %>" />

      <h1 class="editor-name"><%= editor.name %></h1>
    </div>

    <div class="editor-text-container">
      <h1 class="editor-description"><%= editor.description %></h1>

      <div class="editor-links-container">
        <a class="editor-link" target="_blank" href="<%= editor.primaryURL %>">
          <h1 class="editor-link-text">Download</h1>
          <img class="editor-link-image" src="/editors/buttons/download.png" />
        </a>

        <a class="editor-link" href="<%= editor.secondaryURL %>">
          <h1 class="editor-link-text"><%= editor.secondaryURLText %></h1>
          <img
            class="editor-link-image"
            src="/editors/buttons/long-arrow.png"
          />
        </a>
      </div>
    </div>
  </div>
</article>
<% }) %>
