<article id="visual-studio" class="editor-container">
  <div class="editor-information">
    <div class="editor-logo-container">
      <img class="editor-image" src="<%= image -%>" />

      <h1 class="editor-name"><%= name %></h1>
    </div>

    <div class="editor-text-container">
      <h1 class="editor-description"><%= description %></h1>

      <div class="editor-links-container">
        <a class="editor-link" href="<%= primaryLink %>">
          <h1 class="editor-link-text">Download</h1>
          <img class="editor-link-image" src="/editors/buttons/download.png" />
        </a>

        <a class="editor-link" href="<% secondaryLink %>">
          <h1 class="editor-link-text"><%= secondaryLinkText %></h1>
          <img
            class="editor-link-image"
            src="/editors/buttons/long-arrow.png"
          />
        </a>
      </div>
    </div>
  </div>
</article>
