<article class="lang-container">
  <div class="lang-info-block">
    <img src="<%= image %>" class="lang-image" />

    <div class="lang-details-container">
      <h1 class="lang-name"><%= name %></h1>

      <p class="lang-description"><%= description %></p>

      <div class="lang-links-container">
        <a class="lang-link features">
          <h1 class="lang-link-text">Features</h1>
        </a>

        <a class="lang-link view" href="<% buttonURL %>">
          <h1 class="lang-link-text"><%= buttonText %></h1>
        </a>
      </div>
    </div>
  </div>

  <div class="lang-features-block">
    <h1 class="lang-features-block-title">FEATURES</h1>

    <% features.forEach((feature) => { %>
    <div class="lang-features-container">
      <img class="lang-features-image" src="<%= feature.image %>" />
      <h1 class="lang-features-name"><%= feature.name %></h1>
    </div>
    <% }) %>
  </div>
</article>
