<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- #region Google Fonts Server -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- #endregion -->
    <!-- #region Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- #endregion -->
    <link rel="stylesheet" href="/editors.css" />
    <title>Codexo | <%= type %></title>
  </head>

  <body>
    <header id="header"><%- include("./partials/common/navbar.ejs") %></header>

    <main>
      <section id="introduction-section">
        <%- include("./partials/editors/introduction.ejs", { image: image,
        title: title, description: description }) %>
      </section>

      <section id="editors-section">
        <h1 class="editors-section-title"><%= collectionTitle %></h1>

        <% collection.forEach((editor) => { %> <%-
        include("./partials/editors/editor", {name: editor.name, description:
        editor.description, image: editor.image, primaryLink:
        editor.primaryLink, secondaryLink: editor.secondaryLink,
        secondaryLinkText: editor.secondaryLinkText}) %> <% }) %>
      </section>

      <section id="features-section">
        <h1 class="editors-features-main-title"><%= featuresTitle %></h1>

        <%- include("./partials/editors/features.ejs", { rows: featuresRows })
        %>
      </section>
    </main>

    <script type="module" src="/Editors.js"></script>
  </body>
</html>
