<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- #region Google Fonts Server -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- #endregion -->
    <!-- #region Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- #endregion -->
    <link rel="stylesheet" href="/editors.css" />
    <title>Codexo | <%= type %></title>
  </head>

  <body>
    <header id="header"><%- include("./partials/navbar.ejs") %></header>

    <main>
      <section id="introduction-section">
        <div class="intro-container">
          <img class="intro-image" src="<%= image %>" />

          <div class="intro-text-container">
            <h1 class="intro-title"><%= title %></h1>
            <h1 class="intro-description"><%= description %></h1>

            <div class="intro-links-container">
              <a class="intro-link" href="">
                <h1 class="intro-link-text">Know More</h1>
                <img
                  class="intro-link-image"
                  src="/editors/buttons/long-arrow.png"
                />
              </a>

              <a class="intro-link" href="">
                <h1 class="intro-link-text">Explore Others</h1>
                <img
                  class="intro-link-image"
                  src="/editors/buttons/long-arrow.png"
                />
              </a>
            </div>
          </div>
        </div>
      </section>

      <section id="editors-section">
        <h1 class="editors-section-title"><%= collectionTitle %></h1>

        <% collection.forEach((editor) => { %> <%- include("./partials/editor",
        {name: editor.name, description: editor.description, image:
        editor.image, primaryLink: editor.primaryLink, secondaryLink:
        editor.secondaryLink, secondaryLinkText: editor.secondaryLinkText}) %>
        <% }) %>
      </section>

      <section id="features-section">
        <h1 class="editors-features-main-title"><%= featuresTitle %></h1>

        <%- include("./partials/features.ejs", { rows: featuresRows }) %>
      </section>
    </main>

    <script type="module" src="/Editors.js"></script>
  </body>
</html>
