<% collection.forEach((language) => { %>
<article id="<%= language.name %>" class="lang-container">
  <div class="lang-info-block">
    <img src="<%= language.image %>" class="lang-image" />

    <div class="lang-details-container">
      <h1 class="lang-name"><%= language.name %></h1>
      <p class="lang-description"><%= language.description %></p>

      <div class="lang-links-container">
        <a class="lang-link features">
          <h1 class="lang-link-text">Major Uses</h1>
          <img class="lang-link-image" src="/languages/arrow.png" />
        </a>

        <a class="lang-link view" href="<%= language.buttonURL %>">
          <h1 class="lang-link-text"><%= language.buttonText %></h1>
          <img class="lang-link-image" src="/languages/arrow.png" />
        </a>
      </div>
    </div>
  </div>

  <div class="lang-features-block">
    <h1 class="lang-features-block-title">FEATURES & USES</h1>

    <% language.features.forEach((feature) => { %>
    <div class="lang-features-container">
      <img class="lang-features-image" src="<%= feature.image %>" />

      <div class="lang-features-text-container">
        <h1 class="lang-features-name"><%= feature.name %></h1>
        <h1 class="lang-features-description"><%= feature.description %></h1>
      </div>
    </div>
    <% }) %>
  </div>
</article>
<% }) %>
